<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Back-Office</title>
    <link rel="stylesheet" href="/css/backcategorie.css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>
<div class="main" th:fragment="main">
    <h2>Guide pour paramétrer votre site web</h2>
    <p style="display: flex; justify-content: center; font-size: 15px;">Vous pouvez paramétrer votre site web.<br>
        Aidez-vous du menu pour ajouter/modifier des catégories, des produits.<br>
        Naviguez dans le menu pour gérer votre application</p>

</div>

</body>
</html>
